<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello world</h1>
<form action="/form" method="post" th:object="${userDTO}">
  <table>
    <tr>
      <td>User name:</td>
      <td><input name="name" th:field="*{name}"></td>
      <!--                <td style="color: red" th:if ="${#fields.hasErrors('name')}" th:errors="*{name}"></td>-->
      <td>
        <ol>
          <li style="color: red" th:each="err: ${#fields.errors('name')}">
            <p th:text="${err}"></p>
          </li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>User email:</td>
      <td><input name="email" th:field="*{email}"></td>
      <td style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
    </tr>
    <tr>
      <td>phone number:</td>
      <td><input name="phone" th:field="*{phone}"></td>
      <td style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>
    </tr>
    <tr>
      <td>address [houseNumber]:</td>
      <td><input name="address.houseNumber" th:field="*{address.houseNumber}"></td>
      <td style="color: red" th:if="${#fields.hasErrors('address.houseNumber')}"
          th:errors="*{address.houseNumber}"></td>
    </tr>
    <tr>
      <td>address [roadNumber]:</td>
      <td><input name="address.roadNumber" th:field="*{address.roadNumber}"></td>
      <td style="color: red" th:if="${#fields.hasErrors('address.roadNumber')}"
          th:errors="*{address.roadNumber}"></td>
    </tr>
    <tr>
      <td>address [houseName]:</td>
      <td><input name="address.houseName" th:field="*{address.houseName}"></td>
      <td style="color: red" th:if="${#fields.hasErrors('address.houseName')}"
          th:errors="*{address.houseName}"></td>
    </tr>
    <tr>
      <td><input type="submit" value="Submit"></td>
    </tr>
  </table>
</form>
</body>
</html>